[submodule "metier-back"]
	path = metier-back
	url = https://github.com/Baptiste1202/CICD-back
[submodule "metier-front"]
	path = metier-front
	url = https://github.com/Baptiste1202/CICD-front
[submodule "Application_metier/CICD-run"]
	path = Application_metier/CICD-run
	url = https://github.com/Baptiste1202/CICD-run
